<div class="card" style="width: 22rem;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)">
    <div class="card-body">
        <div class="card-header text-white bg-info" style="text-align: center; margin-bottom: 7px;">
            <h4 class="mb-1"><%= flowers[i].name %></h4>
        </div>
        <img class="card-img-top" alt="Card image cap" style="height: 17em;" src=<%= flowers[i].src %> >
        <p class="card-text">Here supposed to come a detailed and nice explanation about the flower.</p>
        <div class="input-group mx-0 mx-md-3">
                <select id="colorselector">
                        <option value="106" data-color="#A0522D">sienna</option>
                        <option value="47" data-color="#CD5C5C" selected="selected">indianred</option>
                        <option value="87" data-color="#FF4500">orangered</option>
                        ...
                        <option value="15" data-color="#DC143C">crimson</option>
                        <option value="24" data-color="#FF8C00">darkorange</option>
                        <option value="78" data-color="#C71585">mediumvioletred</option>
                    </select>
            <!-- <select name="p" size="1" title="Department List" class="custom-select">
                <option value="%">-All-</option>
                <option value="TEST">Lorem ipsum dolor sit amet</option>
                <option value="TEST2">Lorem ipsum dolor sit amet, consectetur amet</option>
            </select> -->
        </div>
</div>
