<div class="jumbotron" style="text-align: center;">
    <div  style="display: inline-flex">
        <div class="footer-icon-margin">
            <img class="footer-icon" src="https://alganeden.co.il/wp-content/themes/GoFlower/images/fresh flowers.png">
            <h6>Fresh flowers</h6>
        </div>
        <div class="footer-icon-margin">
            <img class="footer-icon" src="https://alganeden.co.il/wp-content/themes/GoFlower/images/profesional.png">
            <h6>Professional care</h6>
        </div>
        <div class="footer-icon-margin">
            <img class="footer-icon" src="https://alganeden.co.il/wp-content/themes/GoFlower/images/delivery.png">
            <h6>Punctuality</h6>
        </div>
        <div class="footer-icon-margin">
            <img class="footer-icon" src="https://alganeden.co.il/wp-content/themes/GoFlower/images/secure payment.png">
            <h6>Secure payment</h6>
        </div>
    </div>
</div>