<div class="jumbotron" style="text-align: center;">
    <div style="display: inline-flex">
        <div class="footer-icon-margin">
            <img class="footer-icon" src="images/fresh_flowers.png">
            <h6>Fresh flowers</h6>
        </div>
        <div class="footer-icon-margin">
            <img class="footer-icon" src="images/profesional.png">
            <h6>Professional care</h6>
        </div>
        <div class="footer-icon-margin">
            <img class="footer-icon" src="images/delivery.png">
            <h6>Punctuality</h6>
        </div>
        <div class="footer-icon-margin">
            <img class="footer-icon" src="images/secure_payment.png">
            <h6>Secure payment</h6>
        </div>
    </div>
</div>