<div class="jumbotron text-center">
    <h1>Flowers Catalog</h1>
</div>
<div style="margin: 0px 130px 50px 130px">
<table class="table">
    <tbody>
        <% for(let i = 0; i < flowers.length; i++) { %>
            <% if(i % 3 === 0) { %>
                <tr>
            <% } %>
            <td>
                <% include ../partials/flower %>
            </td>
            <% if(i % 3 === 2) { %>
                </tr>
            <% } %>
        <% } %>
    </tbody>
</table>
</div>