<div class="home-page" style="height: 420px;">
    <div class="home-page">
        <h1>Welcome to the flower shop "FB", which is the leading supplier of flowers in the state of Israel</h1>
    </div>
</div>