<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %> 
    </head>
    <header>
        <% include partials/header %> 
    </header>
    <body>
        <main>
            <% include partials/modals/login_modal %> 
            <% include partials/modals/add_emp_modal %> 
            <div id='main-body' style="min-height: 420px">

            </div>
        </main>
        <footer>
            <% include partials/footer %>
        </footer>
    </body>
    <% include partials/scripts %>
</html>