.select-color {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.select-color:hover {
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.6);
}

.ligth-blue {
    background: #13b4ff;
}
  
.purple {
    background: #ab3fdd;
}
  
.wine {
    background: #ae163e;
}

.transparent {
    background: transparent;
}

.blue {
    background: #007bff;
}

.green {
    background: #28a745;
}

.red {
    background: red;
}