<div class="modal fade" id="add-emp-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">Add new employee</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form id="add-emp-form-data">
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <input id="add-emp-first-name" type="text" class="form-control" placeholder="First name"
                                required="required"
                                style="border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
                            <input id="add-emp-last-name" type="text" class="form-control" placeholder="Last name"
                                required="required"
                                style="margin-left: .5rem; border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem">
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="add-emp-username" type="text" class="form-control" placeholder="Username"
                            required="required">
                    </div>
                    <div class="form-group">
                        <input id="add-emp-password" type="password" class="form-control" placeholder="Password"
                            required="required">
                    </div>
                    <div class="form-group">
                        <input id="add-emp-email" type="email" class="form-control" placeholder="Email"
                            required="required">
                    </div>
                    <div class="form-group">
                        <input id="add-emp-id" type="number" class="form-control" placeholder="ID" required="required">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="add-emp-role">
                            <option hidden>Role</option>
                            <option label="Admin" value="Admin" />
                            <option label="Employee" value="Employee" />
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="add-emp-branch" type="number" class="form-control" placeholder="Branch number"
                            required="required">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="add-emp-gender">
                            <option hidden>Gender</option>
                            <option label="Male" value="Male" />
                            <option label="Female" value="Female" />
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="add-emp-button" value="Add" class="btn btn-primary btn-block btn-lg">
                    </div>
                </form>
                <p id="add-emp-err-msg" style="color: red"></p>
            </div>
        </div>
    </div>
</div>